<main>
    <div class="container">
        <div class="row">
            <h3 style="color:white">About Me</h3>
            <p style="color: white">Explore the following topics</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-10">
                <div class="card" style="color:rgb(65, 2, 65)">
                    <div class="card-header">
                        <h5>Why I Want To Join The Twilio Team</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-indent: 40px">
                            As I start my career as a new graduate software engineer, I have established a principle
                            that I will only work for companies that have three specific qualities. The first quality
                            being that the company I work for must have an overall positive impact on the world. The
                            second quality being that I must find the company’s products and services cool and exciting.
                            The last quality the company must have is the willingness to push me outside of my comfort
                            zone.
                        </p>
                        <p style="text-indent: 40px">
                            Twilio stood out to me because I feel it surpasses all three of these requirements. Twilio’s
                            ability to create tools that enable customer engagement in a way that was never easily
                            accessible before is creating a positive impact through empowering businesses and developers
                            across the globe. Furthermore, using Twilio SDKs and APIs as a developer myself excites me
                            because of all the side project possibilities they enable. Finally, I am a firm believer
                            that work and life start to get dull when I am not continuously improving myself. For this
                            reason, I am applying to Twilio because I know that the projects involved with working at
                            Twilio are challenging and will help me grow as a developer.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-md-11 col-xl-10">
                <div class="card" style="color:rgb(65, 2, 65)">
                    <div class="card-header">
                        <h5>What I can bring to the table at Twilio as a New Grad Software Engineer!</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <p>
                                    Passion, persistence, and a positive attitude!
                                </p>
                            </li>
                            <li>
                                <p>
                                    Excellent teamwork skills and leadership qualities
                                </p>
                            </li>
                            <li>
                                <p> Two years of experience developing full-stack insurance claim and call monitoring
                                    solutions as a TechStart Intern at Liberty Mutual
                                    using Angular JS, React
                                    JS, REST API, SOAP API, and the Mocha JS testing framework
                                </p>
                            </li>
                            <li>
                                <p>
                                    An entrepreneurial spirit which I use to motivate my learning of new technologies
                                    that take me one step further in turning my ideas into a reality.
                                    For one of my personal projects, I used udemy courses and youtube
                                    tutorials to learn how to build a music streaming web app that also features Twilio
                                    2-factor authentication!
                                    I used PHP, MySQL, JavaScript, AJAX calls, and the Twilio SDK to create this
                                    project.
                                    Please feel free to test it out on on your desktop or laptop <a
                                        href="https://rohans-slotify-app.herokuapp.com/">here</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    As part of my Human-Computer Interaction class project this semester, I am
                                    collaborating with the AI4Afrika UW Madison research team to create a front end
                                    interface based on end user feedback. I am confident that I can also use the lessons
                                    from this experience when I work at Twilio to create tools such that clients
                                    from any technological background can use them to engage with their customers
                                    easily
                                </p>
                            </li>
                        </ul>
                        <p>Please See My Attached Resume <a href="./assets/pdfs/resume.pdf">Here</a> For More Details
                        </p>
                        <p>Do you think I will be a good fit for your team?! <a routerLink="/contact-me">Contact Me</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>