<main>
    <div class="container">
        <div class="row">
            <h3 style="color:white">About Me</h3>
            <p style="color: white">Explore the following topics</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-10">
                <div class="card" style="color:rgb(65, 2, 65)">
                    <div class="card-header">
                        <h5>Why I Want To Join The Gallify Team</h5>
                    </div>
                    <div class="card-body">
                        <p style="text-indent: 40px">
                            Although I am not particularly good at drawing or painting, I always think of myself as an
                            artistic person because I enjoy the process of creating. Whether it be artistically crafting
                            the aesthetics of the front end of an application or writing a song, I find that the process
                            of creating often brings out the most authentic version of myself and others.
                        </p>
                        <p style="text-indent: 40px">
                            Unfortunately, it is impossible to not notice that most people who choose a career in
                            creating any form of art often struggle to profit from their works. It is even more
                            disheartening to know that many large corporations profit from the works of artists while the
                            artists themselves do not.
                        </p>
                        <p style="text-indent: 40px">
                            As a young software developer, this issue inspires me more than any other and is what drew
                            my interest towards blockchain technology. I read about up and coming blockchain driven
                            startups like Audius, which is creating a fully decentralized music-streaming platform made
                            for musical artists in which they will be able to set their own price per stream of their
                            songs. From then and on, I made it my goal to become a blockchain developer and work for
                            this type of company, so that I could play a role in creating a platform that would help
                            other creators continue creating. Shortly afterwards, I stumbled upon Professor Remzi’s
                            email about Gallify.
                        </p>
                        <p style="text-indent: 40px">
                            I immediately knew that I wanted to be a part of the Gallify project! The idea of creating a
                            Spotify inspired application that would allow users to discover new artwork and sell
                            their own works of art is insanely cool and absolutely necessary!
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-md-11 col-xl-10">
                <div class="card" style="color:rgb(65, 2, 65)">
                    <div class="card-header">
                        <h5>What I can bring to the table at Gallify as a Full-Stack Software Engineer!</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <p>Passion, persistence, and a positive attitude</p>
                            </li>
                            <li>
                                <p>Excellent teamwork skills and leadership qualities</p>
                            </li>
                            <li>
                                <p>The desire and ability to effectively teach myself new technologies</p>
                            </li>
                            <li>
                                <p> Two years of significant experience developing full-stack applications as a TechStart Intern at
                                    Liberty Mutual Insurance using technologies
                                    including Angular JS, React JS, and REST API</p>
                            </li>
                            <li>
                                <p>I have thoroughly read about the convolutional neural network algorithm that Spotify
                                    uses in its Discover Weekly playlist to recommend new music to its users and I am
                                    confident that I can help Gallify develop a similar feature for artwork
                                </p>
                            </li>
                            <li>
                                <p>
                                    I am currently teaching myself Solidity and how to write smart contracts and I am
                                    excited to apply these new skills to help develop an NFT trading feature for
                                    Gallify.
                                </p>
                            </li>
                        </ul>
                        <p>Please See My Attached Resume <a href="./assets/pdfs/resume.pdf">Here</a> For More Details
                        </p>
                        <p>Do you think I will be a good fit for your team?! <a routerLink="/contact-me">Contact Me</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>