<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="this.router.url.localeCompare('/home') == 0" style="color:blueviolet" class="nav-link"
          routerLink="/home" (click)="isMenuCollapsed = true">Home</a>
        <a *ngIf="this.router.url.localeCompare('/home') != 0" class="nav-link" routerLink="/home"
          (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.router.url.localeCompare('/about-me') == 0" style="color:blueviolet" class="nav-link"
          routerLink="/about-me" (click)="isMenuCollapsed = true">About Me</a>
        <a *ngIf="this.router.url.localeCompare('/about-me') != 0" class="nav-link" routerLink="/about-me"
          (click)="isMenuCollapsed = true">About Me</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.router.url.localeCompare('/contact-me') == 0" style="color:blueviolet" class="nav-link"
          routerLink="/contact-me" (click)="isMenuCollapsed = true">Contact Me</a>
        <a *ngIf="this.router.url.localeCompare('/contact-me') != 0" class="nav-link" routerLink="/contact-me"
          (click)="isMenuCollapsed = true">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>