
<main>
    <div class="container">
        <div class="row">
            <h3 style="color:white">Contact Me</h3>

        </div>
        <div class="row">

            <div class="col-12 col-md-10 col-xl-10">
                <div class="card" style="color:rgb(65, 2, 65)">
                    <div class="card-header">
                        <h5>I am looking forward to hearing from you!</h5>
                    </div>
                    <div class="card-body">
                        <p>Please contact me through whichever method works best for you: </p>
                        <ul>
                            <li>
                                <p>email: rmramachandr@wisc.edu</p>
                            </li>
                            <li>
                                <p>Phone Number: 262-765-9462</p>
                            </li>
                            <li>
                                <a style="color:rgb(65, 2, 65)" href="https://www.linkedin.com/in/rohan-ramachandran-12b382152">LinkedIn</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

