<main>
    <div class="container">
        <div class="row">
            <h1>About Me</h1>
            <p>Explore the following topics</p>
        </div>
        <div class="row">

            <div class="col-12 col-md-6 col-xl-4">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="./assets/images/rohan.jpg" alt="Rohan">
                    <div class="card-body">
                      <h5 class="card-title">Software Experience</h5>
                     
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="./assets/images/johnLennon.jpg" alt="John Lennon">
                    <div class="card-body">
                      <h5 class="card-title">Passion For Music</h5>
                     
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="./assets/images/ethereum.png" alt="ethereum">
                    <div class="card-body">
                      <h5 class="card-title">Strong Interest In Blockchain</h5>
                     
                    </div>
                </div>
            </div>

        </div>
      
           
        
    </div>
</main>    
