.container {
    display: inline-block;
}

.card {
    margin: 10px;

}

.card img {
    width: 10rem;
    height: auto;
}


.card.grow {
    

    
}
.card:hover {
      transform: scale(1.1);
      transition: all .2s ease-in-out;
    }