body {
display: flex;
flex-direction: column;
min-height: 110vh;

background: url("../assets/images/bg-pattern.png"), #5f68b7;
background: url("../assets/images/bg-pattern.png"), -webkit-linear-gradient(to left,rgb(199, 63, 103), rgb(95, 104, 183));
background: url("../assets/images/bg-pattern.png"), linear-gradient(to left,rgb(199, 63, 103), rgb(95, 104, 183));

}

footer {
    margin-top: auto;
    background-color:#10142c;
    color:white;
    padding: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

footer .row a {
    color: white;
}


header {
    background-color:	white;
    
}

header img {
    align-items: left; 
    height: 60px;
    width: auto;
    padding-top: 10px; 
    padding-bottom: 10px;
    
}










  
  

  








