<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MyAudiusApp</title>


</head>

<body>
  <div>
    <div>
  <header>

    <img src="assets/images/audius-white.svg" alt="Audius Logo">

  </header>


  <ngbd-collapse-navbar></ngbd-collapse-navbar>
  
  <router-outlet></router-outlet>
</div>
  
  <footer id="footer">
    <div class="container mt-4 pt-3">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
          <h4>General</h4>
          <ul>
            <li>
              <a style="color:white" href="/about-me">About Me</a>
            </li>
            <li>
              <a style="color:white" href="/contact-me">Contact Me</a>
            </li>
          </ul>
        </div> <!-- end column -->
        <div class="col-12 col-md-6 col-xl-3">
          <h4>Social</h4>
          <ul>
            <li>
              <a style="color:white" href="https://www.linkedin.com/in/rohan-ramachandran-12b382152">LinkedIn</a>
            </li>
            <li>
              <a style="color: white" href="https://github.com/rohanramachandr">Github</a>
            </li>
          </ul>
        </div> <!-- end column -->
        <div class="col-12 col-md-6 col-xl-3">
          <p>&copy; 2021 &bull; all rights reserved.</p>
        </div> <!-- end column -->
      </div><!-- end row -->
    </div><!-- end container -->
  </footer>
</div>

</body>

</html>