<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  
  
    
    <title>MyAudiusApp</title>
</head>
    
<body>
<header>

<img src="assets/images/audius-white.svg" alt="Audius Logo">

</header>

<ngbd-collapse-navbar></ngbd-collapse-navbar>
      


      
      
<main>
    

    

    

    

    
    
</main>

<footer>
  <div class="container mt-4 pt-3">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3">
        <h2>General</h2>
        <ul>
        <li>About Me</li>
        <li>Contact Me</li>
        </ul>
    </div> <!-- end column -->
        <div class="col-12 col-md-6 col-xl-3">
          <h2>Social</h2>
          <ul>
          <li>LinkedIn</li>
          <li>Github</li> 
          </ul>
      </div> <!-- end column -->
        <div class="col-12 col-md-6 col-xl-3">
          <p>&copy; 2021 &bull; all rights reserved.</p>
      </div> <!-- end column -->
    </div><!-- end row -->
  </div><!-- end container -->
  </footer>

<router-outlet></router-outlet>
