<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MyGallifyApp</title>


</head>

<body>
  
    
  <header>

    <img src="assets/images/gallify.png" alt="Gallify Logo">

  </header>


  
  <ngbd-collapse-navbar></ngbd-collapse-navbar>
  
  <router-outlet></router-outlet>

  
  <footer>

      <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
          <h6>General</h6>
          <ul>
            <li>
              <a  style="color:white"  routerLink="/home">Home</a>
            </li>
            <li>
              <a   style="color:white" routerLink="/about-me">About Me</a>
            </li>
            <li>
              <a  style="color:white"  routerLink="/contact-me">Contact Me</a>
            </li>
          </ul>
        </div> <!-- end column -->
        <div class="col-12 col-md-6 col-xl-3">
          <h6>Social</h6>
          <ul>
            <li>
              <a style="color: white" href="https://www.linkedin.com/in/rohan-ramachandran-12b382152">LinkedIn</a>
            </li>
            <li>
              <a  style="color:white" href="https://github.com/rohanramachandr">Github</a>
            </li>
          </ul>
        </div> <!-- end column -->
        <div class="col-12 col-md-6 col-xl-3">
          <p>&copy; 2021 &bull; all rights reserved.</p>
        </div> <!-- end column -->
      </div><!-- end row -->
   
  </footer>


</body>

</html>