body {
display: flex;
flex-direction: column;
min-height: 110vh;



background: url("../assets/images/bg-pattern.png"), #7b4397;
background: url("../assets/images/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
background: url("../assets/images/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);


}

footer {
    margin-top: auto;
    background-color: #232424;
    color: white;
    padding: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}


header {
    background-color: #232424;
    
}

header img {
    align-items: left; 
    height: 85px;
    padding-top: 10px; 
    padding-bottom: 10px;
    
}








  
  

  








