img {
    margin-top: 0.5rem;
    height: 12rem;
    width: auto;
    
}

#profile:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

#text {

    text-align: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.btn-outline-primary {
    margin-bottom: 3%;
    margin-top: 1%;
    border-color: #5B23E1!important;
    color:#5B23E1!important;

    
}

.btn-outline-primary:hover {
    background-color: #5B23E1!important;; /* Green */
    color: white!important;
  }

