
<main>
    <div class="container">
        <div class="row">

            <div id="text" class="col-12 col-md-12 col-xl-12">
                
                <h1>Hello</h1>
                <h1>Audius</h1>
                <h2>I want to join your team</h2>
                <h6>Here is why I would be a good fit</h6>
               <!-- <button type="button" class="btn btn-outline-primary" (click)="learnAboutMe()">Learn About Me</button> -->
               
            </div>
             
        </div>
        <div class= row>
            <div id="text" class="col-12 col-md-12 col-xl-12">
                <img id="profile" src="./assets/images/profile.png" alt="profile" (click)="learnAboutMe()"> 
            </div>
        </div>
           
        
    </div>
</main>  




